.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  padding: 0 5px;
  position: relative;
  overflow: hidden;
}

.pagination__btn {
  padding: 5px;
  background: #5f9ea0;
  border: none;
  cursor: pointer;
}

.pagination__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__item {
  list-style-type: none;
  padding: 5px 5px;
  width: 40px;
  height: 40px;
  border: 1px solid;
  cursor: pointer;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}

.pagination__item:hover {
  background: coral;
}
