.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  margin: 30px auto;
  padding: 0 5px;
}

.pagination__btn {
  padding: 5px;
  background: cadetblue;
}

.pagination__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__item {
  list-style-type: none;
  margin: 0 10px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}

.pagination__item:hover {
  background: coral;
}
